*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:rgba(203, 154, 154, 0.3)
}
#title{
    background-color:rgba(134, 80, 149, 0.3);
    font-family:sans-serif;
    padding: 30px 20px;
    text-align: center;
}
.box{
    position: absolute;
    width: 40%;
    min-width: 450px;
    top: 30%;
    left: 30%;
    padding: 30px 40px;
}
#newtask{
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 5px;
}
#newtask input{
    position: relative;
    width: 70%;
    height: 45px;
    font-family:sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    border-radius: 5px;
}
#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #c57dd0;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
#tasks{ 
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    width: 100%;
}
.task{
    background-color: #ffffff;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}
.task span{
    font-family:sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color:#e252ec;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
.completed{
    text-decoration: line-through;
}