<p>album-photos works!</p>
<ul *ngIf="loaded">
    <li *ngFor="let photo of photos">
        {{photo.albumId}} - {{photo.title}} - {{photo.id}} - {{photo.url}}
    </li>
  </ul>
  <h3 *ngIf="!loaded">Album photos are loading...</h3>
  
  <div class="page" *ngIf="loaded">
  
    <ul>
      <h1>Album #{{albumID}} photos</h1>
      <li *ngFor="let photo of photos">
        <img src="{{photo.url}}" alt="album-img">
      </li>
    </ul>
  
    <div class="return-back">
      <a [routerLink]="['/albums', albumID]">
        <img src="https://wsp.kbtu.kz/VAADIN/themes/r5/img/button/logout_24.png" alt="door" class="door">
      </a>
    </div>
  
  </div>