body{
    background-color: #f0f2f5;
}
#logo{
    position: absolute;
    height: 438px;
    left: 200px;

}
#text{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    position: absolute;
    left: 228px;
    margin-top: 265px;
}
#box{
    width: 396px;
    height: 334px; 
    position: absolute;
    margin-left: 795px;
    margin-top: 136px;
    border-radius: 9px 9px 9px 9px;
    border: 1px;
}
#login{
    width: 359px;
    height: 44px;
    position: absolute;
    margin-left: 814px;
    margin-top: 153px;
    border-radius: 6px 6px 6px 6px;
    border: 1px groove rgb(204, 204, 204);
}
#password{
    width: 359px;
    height: 42px;
    position: absolute;
    margin-left: 814px;
    margin-top: 218px;
    border-radius: 6px 6px 6px 6px;
    border: 1px groove rgb(204, 204, 204);
}
#button{
    width: 367px;
    height: 46px;
    position: absolute;
    margin-left: 814px;
    margin-top: 283px;
    border-radius: 6px 6px 6px 6px;
    font-weight: bold;
    font-size: 19px;
    background-color: #1877f2;
    color: white;  
    border: 1px groove  #3883e4;
}
#button:hover{
    background-color: #1160c7;
}
input[type = "tel"]{
    text-align: center;
    font-size: 17.5px;
}
input[type = "password"]{
    font-size: 17.5px;

}
#forgotten-button{
    position: absolute;
    margin-top: 346px;
    margin-left: 943px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight: 550;
    font-size: 13px;
    text-decoration: none;
    color: #1877f2;
}
#forgotten-button:hover{
    text-decoration: underline;
}
#account{
    position: absolute;
    margin-left: 880px;
    margin-top: 400px;

    border: 1px groove  #11be01;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    background: #36a420;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;

}
#account:hover{
    background-color:  #30a725;
}
#line{
    width: 367px;
    position: absolute;
    margin-left: 814px;
    margin-top: 378px;
    color:rgb(204, 204, 204)
}
#account2{
    position: absolute;
    width: 410px;
    font-size: 14px;
    margin-top: 500px;
    margin-left: 812px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
#in-account2{
    text-decoration: none;
    color: black;
}
#in-account2:hover{
    text-decoration: underline;
}
#account3{
    position: absolute;
    font-size: 14px;
    margin-top: 520px;
    margin-left: 949px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
#down-side1{
    position: absolute;
    margin-top: 25px;
    margin-left: 233px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    color: grey;
    font-size: 12px;
    word-spacing: 11px;
}