<p>album-detail works!</p>
<div *ngIf="loaded" id="detail">
    <div>
      <h2>Details</h2>
      <h4>ID : {{album.id}}</h4>
      <h4>UserID : {{album.userId}}</h4>
      <h4>Title : {{album.title}}</h4>
    </div>
    <div class="return-back">
      <a routerLink="/albums">
        <img src="C:\Users\LENOVO\OneDrive\Документы\Weblab6\logout.jpg" alt="door" class="door">
      </a>
    </div>
  </div>
  
  <div *ngIf="loaded">
    <button id="edit" *ngIf="!edit" (click)="edit=!edit" >Edit</button>
  
    <div *ngIf="edit" id="edit-form">
      <label for="id">ID : </label>
      <input type="text" id="id" [(ngModel)]="editableAlbum.id">
  
      <label for="title">Title : </label>
      <input type="text" id="title" [(ngModel)]="editableAlbum.title">
  
      <button id="save" (click)="saveChanges()">Save Changes</button>
    </div>
  </div>
  
  <h3 *ngIf="!loaded">Album details are loading...</h3>



